<p>Welcome to the Table Page!</p>

<table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Power</th>
      <th scope="col">Time</th>
      <th scope="col">Date</th>
      <th scope="col">Likes-Cars?</th>
      

    </tr>
  </thead>
  <tbody>
 
    <tr *ngFor="let hero of heroService.heroes; index as i" >
      
      <td >{{ hero.name }}</td>
      <td >{{ hero.age }}</td>
      <td >{{ hero.power }}</td>
      <td >{{displayTime(hero)}}</td>
      <td >{{ displayDate(hero) }}</td>
      <td >{{ hero.cars }}</td>
      
    </tr>
  </tbody>
</table>
